<?php

#
# Global configuration options

$cfg['global']['company_name']        = "Your Company Name, Inc.";
$cfg['global']['error_reporting']     = "E_ERROR | E_WARNING | E_PARSE";
$cfg['global']['timezone']            = "America/Toronto";
$cfg['global']['memory_limit']        = "384M";

#
# Paths and Configuration Files 

$cfg['paths']['tmp']                  = "/tmp/";
$cfg['paths']['base']                 = "/usr/local/irrpt/";
$cfg['paths']['bin']                  = $cfg['paths']['base'] . "bin/";
$cfg['paths']['conf']                 = $cfg['paths']['base'] . "conf/";
$cfg['paths']['db']                   = $cfg['paths']['base'] . "db/";
$cfg['paths']['cvsroot']              = $cfg['paths']['base'] . "db/";

$cfg['cfgfiles']['exclusions']        = $cfg['paths']['base'] . "conf/exclusions.conf";
$cfg['cfgfiles']['irrdb_list']        = $cfg['paths']['base'] . "conf/irrdb.conf";
$cfg['cfgfiles']['default_nag_cfg']   = $cfg['paths']['base'] . "conf/nag.conf";
$cfg['cfgfiles']['default_nag_msg']   = $cfg['paths']['base'] . "conf/nag.msg";
$cfg['cfgfiles']['umask']             = 0644;

#
# External tool locations

$cfg['tools']['nocvs']                = FALSE
$cfg['tools']['cvs']                  = "/usr/bin/cvs";

#
# Configuration Parameters

$cfg['aggregate']['suffix']           = ".agg";

$cfg['diff']['params']                = "-u -U 2";
$cfg['diff']['output_format']         = "english"; // or "plusminus" or "fulldiff"

$cfg['fetch']['host']                 = "whois.radb.net";
$cfg['fetch']['port']                 = "43";
$cfg['fetch']['sources']              = "all";
$cfg['fetch']['cache']                = TRUE;
$cfg['fetch']['emailonchange']        = "both"; // or "full" or "aggregate" or "none"
$cfg['fetch']['asn_suffix']           = ".asn";
$cfg['fetch']['set_uid']              = "";

$cfg['pfxgen']['default_pfxstr']      = "CUSTOMER:%d";
$cfg['pfxgen']['default_pfxstr_v6']   = "CUSTOMERv6:%d";
$cfg['pfxgen']['default_pfxlen']      = "24";
$cfg['pfxgen']['default_pfxlen_v6']   = "48";
$cfg['pfxgen']['default_format']      = "cisco";

$cfg['update']['from']                = "eng@yourcompany.com";
$cfg['update']['reply-to']            = "eng@yourcompany.com";
$cfg['update']['subject']             = "[IRRPT] ";
$cfg['update']['localcopy']           = "eng-list@yourcompany.com";

?>
